<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513199116842-842ps7ap557ltll47p1pjnrt5c88k82p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513199116842-842ps7ap557ltll47p1pjnrt5c88k82p</string>
	<key>API_KEY</key>
	<string>AIzaSyDL6wa22GESRq1NyZg_Tejyactc8ZQ6lWU</string>
	<key>GCM_SENDER_ID</key>
	<string>513199116842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeControl</string>
	<key>PROJECT_ID</key>
	<string>finance-control-77d24</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-control-77d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513199116842:ios:cd8fea16c97eda73f5a953</string>
</dict>
</plist>